body {
	margin: 0;
	padding: 0;
}

.container {
	width: 100vw;
	height: 100vh;
}

.topDiv {
	width: 100%;
	height: 50%;
	background-image: url('../../media/login_background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bottomDiv {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
}

@keyframes titleEnter {
	from {
		padding-top: 80px;
		opacity: 0;
	}
	to {
		padding-top: 15px;
		opacity: 1;
	}
}

.title {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 20vmin;
	color: rgb(240, 240, 240);
	text-align: center;

	padding-top: 15px;
	animation-name: titleEnter;
  animation-duration: 0.8s;
}

.formContainer {
	width: 64vw;
	height: 46vh;
	background-color: white;
	border: solid rgb(63, 63, 63) 2px;
	position: relative;
	top: -23vh;
}

@media only screen and (min-width: 500px) {
	.formContainer {
		width: 320px;
	}
}